body {
  font-family: 'Catamaran', sans-serif;
}

.logo {
  position: absolute;
  top: 26px;
  left: 20px;
  width: 36px;
  height: 36px;
  border-radius: 0px;
}

.main-text {
  position: absolute;
  top: 24px;
  left: 72px;
  width: 164px;
  height: 28px;
  font-family: Catamaran;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #EB1C24FF;
  /* secondary-500 */
}

.sub-text {
  position: absolute;
  top: 52px;
  left: 72px;
  width: 164px;
  height: 20px;
  font-family: Catamaran;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #005500FF;
  /* primary-500 */
}

.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 258px;
  height: 315px;
  background: #FFFFFFFF;
  /* white */
  border-radius: 0px;
  box-shadow: 0px .2px 0px #171a1f;
}

.sidebar-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 258px;
  height: 475px;
  border-radius: 0px;
  box-shadow: 0px .2px 0px #171a1f;
}

.sidebar-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 258px;
  height: 585px;
  border-radius: 0px;
  box-shadow: 0px .2px 0px #171a1f;
}

.sidebar-3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 258px;
  height: 1080px;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #171a1f;
}

.sidebar-menu {
  position: absolute;
  top: 84px;
  right: 91px;
  height: 184px;
  display: flex;
  flex-direction: column;
  font-family: Catamaran;
  /* Body */
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  opacity: 1;
  background: rgba(255, 255, 255, 0);
  /* Transparent background */
}

.sidebar-menu-item .sidebar-icon {
  margin-top: -5px;
}

.sidebar-menu-item {
  position: relative;
  /* Needed for the indicator positioning */
  display: flex;
  align-items: center;
  padding: 16px;
  color: #565D6DFF;
  /* neutral-600 */
  background: rgba(255, 255, 255, 0);
  /* Transparent background */
  border-radius: 0px;
  gap: 12px;
  /* Space between icon and text */
  cursor: pointer;
  white-space: nowrap;
}

.sidebar-menu-item a {
  display: flex;
  /* Ensure anchor tag uses flexbox */
  align-items: center;
  /* Center items vertically */
  text-decoration: none;
  color: inherit;
  gap: 8px;
  /* Space between icon and text */
}

.sidebar-menu-item.selected {
  font-weight: 700;
  color: #005500FF;
  /* primary-500 */
  background: #FFFFFF;
  /* transparent */
}

.sidebar-menu-item.selected:hover:active {
  color: #005500FF;
  /* primary-500 */
  background: #FFFFFF;
  /* transparent */
}

.sidebar-menu-item .indicator {
  position: absolute;
  left: 0;
  /* Position indicator on the leftmost side */
  width: 4px;
  height: 80%;
  opacity: 0;
  /* Hide by default */
}

.sidebar-menu-item.selected .indicator {
  opacity: 1;
  /* Show only for selected item */
}


.dash-info {
  position: absolute;
  top: 0px;
  left: 259px;
  width: 1164px;
  height: 84px;
  background: #FFFFFFFF;
  /* white */
  border-radius: 0px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  /* shadow-xs */
}

.dash_text {
  position: absolute;
  left: 22px;
  font-family: Catamaran;
  font-size: 25px;
  line-height: 48px;
  font-weight: 700;
  color: #171A1FFF;
  /* neutral-900 */
}

.user-name {
  position: absolute;
  top: 27px;
  left: 925px;
  font-family: Catamaran;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #171A1FFF;
  /* neutral-900 */
}

.avatar {
  position: absolute;
  top: 15px;
  left: 1090px;
  width: 50px;
  height: 50px;
  background: #86FF86FF;
  /* primary-200 */
  opacity: 1;
  overflow: hidden;
  border-radius: 32px;
}

.button {
  cursor: pointer;
  position: absolute;
  top: 102px;
  left: 280px;
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Catamaran;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFFFF;
  /* white */
  background: #005500FF;
  /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 3px;
  /* border-l */
  gap: 6px;
}

/* Hover */
.button:hover {
  color: #FFFFFFFF;
  /* white */
  background: #004200FF;
  /* primary-650 */
}

/* Pressed */
.button:hover:active {
  color: #FFFFFFFF;
  /* white */
  background: #002D00FF;
  /* primary-800 */
}

/* Disabled */
.button:disabled {
  opacity: 0.4;
}

.buttonDel {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  /* cursor: pointer; */
  /* opacity: 1; */
  position: absolute;
  top: 102px;
  left: 412px;
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Catamaran;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFFFF;
  background: #DE3B40FF;
  border: none;
  border-radius: 3px;
  gap: 6px;
}

/* Hover */
.buttonDel:hover {
  color: #FFFFFFFF;
  /* white */
  background: #C12126FF;
  /* danger-600 */
}

/* Pressed */
.buttonDel:hover:active {
  color: #FFFFFFFF;
  /* white */
  background: #AA1D22FF;
  /* danger-650 */
}

/* Disabled */
.buttonDel:disabled {
  opacity: 0.4;
}

/* Textbox 58 */
.searchbox {
  position: absolute;
  top: 156px;
  right: 0.5%;
  opacity: 1;
}

.searchbox input {
  width: 347px;
  height: 30px;
  padding-left: 34px;
  padding-right: 12px;
  font-family: Catamaran;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #F3F4F6FF;
  /* neutral-200 */
  border-radius: 3px;
  /* border-l */
  border-width: 0px;
  outline: none;
}

.searchbox svg {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  fill: #171A1FFF;
  /* neutral-900 */
}

.searchbox svg.left {
  left: 12px;
}

/* hover */
.searchbox input:hover {
  color: #BDC1CAFF;
  /* neutral-400 */
  background: #F3F4F6FF;
  /* neutral-200 */
}

/* focused */
.searchbox input:focused {
  color: #BDC1CAFF;
  /* neutral-400 */
  background: #FFFFFFFF;
  /* white */
}

/* disabled */
.searchbox input:disabled {
  color: #BDC1CAFF;
  /* neutral-400 */
  background: #F3F4F6FF;
  /* neutral-200 */
}

.searchbox :disabled+.icon,
.textbox :disabled+.icon+.icon {
  fill: #171A1FFF;
  /* neutral-900 */
}

.usercount {
  position: absolute;
  top: 172px;
  left: 281px;
  width: 107px;
  height: 31px;
  font-family: Catamaran;
  /* Body */
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #171A1FFF;
  /* neutral-900 */
}

table {
  position: absolute;
  top: 221px;
  left: 281px;
  width: 80%;
  height: 10%;
  opacity: 1;
  border-radius: 3px;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-family: Catamaran;
  font-size: 14px;
  font-weight: 600;
  color: #565D6DFF;
}

td {
  height: 60px;
  font-family: Catamaran;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #171A1FFF;
}

.highlight-row {
  background-color: #f4f4f4;
}

.same-width {
  width: 150px;
}

.avatar2block {
  width: 100px;
  height: 30px;
}
.avatar2 {
  width: 30px;
  height: 30px;
  background: #86FF86FF;
  opacity: 1;
  overflow: hidden;
  border-radius: 18px;
}

.avatar2 img {
  width: 30px;
  height: 30px;
}

.avatar2 .badge {
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
}

.avatar2.active .badge {
  background: #000000FF;
  /* transparent */
  opacity: 0;
  border-width: 1.5px;
  border-color: #FFFFFFFF;
}

.avatar2.inactive .badge {
  background: #000000FF;
  /* transparent */
  opacity: 0;
  border-width: 1.5px;
  border-color: #FFFFFFFF;
}

.avatar2.idle .badge {
  background: #000000FF;
  /* transparent */
  opacity: 0;
  border-width: 1.5px;
  border-color: #FFFFFFFF;
}

.avatar2.do_not_disturb .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  line-height: 9px;
  color: #FFFFFFFF;
  background: #000000FF;
  /* transparent */
  opacity: 0;
  border-width: 1.5px;
  border-color: #FFFFFFFF;
}

.align-mid {
  text-align: center;
  vertical-align: middle;
}

.align-left {
  text-align: left;
  vertical-align: middle;
}

.align-right {
  text-align: right;
  vertical-align: middle;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: none;
  /* Hidden by default */
  align-items: center;
  justify-content: center;
}

.overlay-content h3 {
  color: rgb(0, 141, 0);
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
}

button[type="submit"] {
  width: 70px;
  background-color: #4CAF50;
  /* Green background */
  color: white;
  /* White text */
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  /* Optional: Rounded corners */
}

button[type="submit"]:hover {
  background-color: #45a049;
  /* Darker green on hover */
}

button[type="reset"] {
  width: 70px;
  background-color: #af4c4c;
  color: white;
  /* White text */
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  /* Optional: Rounded corners */
}

button[type="reset"]:hover {
  background-color: #a04545;
}

.textbox {
  opacity: 1;
}

.textbox input {
  flex: 1;
  width: 230px;
  height: 24px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Catamaran;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #F3F4F6FF;
  /* neutral-200 */
  border-radius: 4px;
  /* border-xl */
  border-width: 0px;
  outline: none;
}

.textbox select {
  flex: 1;
  display: block;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 230px;
  height: 24px;
  padding: 7.6px 12px 7.6px 12px;
  font-family: Catamaran;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #F3F4F6FF;
  /* neutral-200 */
  border-radius: 4px;
  /* border-xl */
  border-width: 0px;
  outline: none;
}

.textbox .label {
  font-family: Catamaran;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}

.textbox input:hover {
  color: #171A1FFF;
  /* neutral-900 */
  background: #F3F4F6FF;
  /* neutral-200 */
}

.textbox input:focused {
  color: #171A1FFF;
  /* neutral-900 */
  background: #FFFFFFFF;
  /* white */
}

.textbox input:disabled {
  color: #171A1FFF;
  /* neutral-900 */
  background: #F3F4F6FF;
  /* neutral-200 */
}

.textbox :disabled+.icon,
.textbox :disabled+.icon+.icon {
  fill: #171A1FFF;
  /* neutral-900 */
}

.container {
  display: flex; /* Use Flexbox */
  gap: 40px; /* Space between the elements */
}

.button-container {
  display: flex;
  justify-content: space-between; /* Distribute space between the buttons */
}

#preview {
  max-width: 30%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  display: block;
}

input[type="file"] {
  display: block;
}

.line { 
  width: 100%; 
  height: 0px; 
  border-width: 1px; 
  border-color: rgb(131, 136, 143); /* neutral-300 */
  border-style: solid; 
  margin-bottom: 25px;
}