@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    padding: 15px;
  }

  .textbox input,
  .textbox select {
    width: 100%;
  }

  .table_product {
    width: 100%;
  }
}
/*MY Modals and Forms*/

#PurchaseForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border: 1px solid #ddd;
  padding: 20px;
  z-index: 1000;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 7% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */

}
/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: none;
  /* Hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* High z-index value to ensure it's on top */
  
}

#overlayAD {
  position: fixed; /* Position overlay fixed to the viewport */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Initially hidden */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 999; /* Make sure it's above other content */
}

.overlayAD-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  width: auto;
  max-width: 500px; /* Optional: Set a max width for better appearance */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better visibility */
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: flex;
  position: relative;
}

.overlay-content h3 {
  color: rgb(0, 141, 0);
}

/*End of MODAL*/
.Create_PO {
  cursor: pointer;
  height: 36px;
  width: 140px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFFFF;
  /* white */
  background: #005500FF;
  /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 12px;
  /* border-l */
  gap: 6px;
  margin-bottom: 10px;
  margin-left: 12px;
}

#checkLowStockButton {
  cursor: pointer;
  height: 36px;
  width: 100px; /* Adjust width if needed */
  padding: 0 12px;
  display: flex;
  align-items: center; /* Center align vertically */
  justify-content: flex-start; /* Align items to the start (left) */
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFFFF; /* white */
  background: rgb(13, 172, 215); /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 12px;
  gap: 6px; /* Space between the icon and text */
  margin-bottom: 10px;
  margin-left: 12px;
}

#checkLowStockButton img {
  width: 20px; /* Set the size of the image */
  height: auto; /* Keep the aspect ratio */
  margin-right: 6px; /* Space between the image and text */
}


.deleteProduct {

  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFFFF;
  /* white */
  background: #b8342b;
  /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 2px;
  /* border-m */
}

#updateProduct {

  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFFFF;
  /* white */
  background: #243d8f;
  /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 2px;
  /* border-m */
  /
}

/* Hover */
.Create_PO:hover {
  color: #FFFFFFFF;
  /* white */
  background: #004200FF;
  /* primary-650 */
}

/* Pressed */
.Create_PO:hover:active {
  color: #FFFFFFFF;
  /* white */
  background: #002D00FF;
  /* primary-800 */
}

/* Disabled */
.Create_PO:disabled {
  opacity: 0.4;
}



.deleteProduct:hover {
  color: #FFFFFFFF;
  /* white */
  background: #aa3128;
  /* primary-650 */

}

#updateProduct:hover {
  color: #FFFFFFFF;
  /* white */
  background: #203780;
  /* primary-800 */
}

/* Disabled */
#updateProduct:disabled {
  opacity: 0.4;
}

/*End of Buttons*/

/*FORM MODAL*/

.h2 {
  color: #888;
}


/* Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* End close*/

.h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #2a2929;
  /* primary-500 */
}

/* Form Buttons */
.form-button button {
  width: 80px;
  height: 30px;
  padding: 0 12px;
  display: flex;
  padding: 0px 12px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFFFF;
  /* white */
  /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
}

.form-button #Clear {
  background-color: #af4c4c;
  /*margin-right: auto; /* Align Clear button to the left */
}

.form-button #saveBtn {
  background-color: #4CAF50;
  /*margin-left: auto; /* Align Save button to the right */
}
.form-button #saveBtn :hover
{
  background-color: #45a049;
}

.form-button {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.textbox input:hover {
  color: #171A1FFF;
  /* neutral-900 */
  background: #F3F4F6FF;
  /* neutral-200 */
}

/* focused */
.textbox input:focused {
  color: #171A1FFF;
  /* neutral-900 */
  background: #FFFFFFFF;
  /* white */
}

/* disabled */
.textbox input:disabled {
  color: #171A1FFF;
  /* neutral-900 */
  background: #F3F4F6FF;
  /* neutral-200 */
}

.textbox {
  opacity: 1;
}

.textbox input {
  width: 200px;
  height: 30px;
  flex: 1;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  background: #F3F4F6FF;
  border-radius: 4px;
  border-width: 0px;
  outline: none;  outline: none;
}

.textbox select {
  width: 220px;
  height: 30px;
  flex: 1;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: #F3F4F6FF;
  border-radius: 4px;
  border-width: 0px;
  outline: none;
}


.textbox .label {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}

.textbox input:hover {
  color: #171A1FFF;
  /* neutral-900 */
  background: #F3F4F6FF;
  /* neutral-200 */
}

.textbox input:focused {
  color: #171A1FFF;
  /* neutral-900 */
  background: #FFFFFFFF;
  /* white */
}

.textbox input:disabled {
  color: #171A1FFF;
  /* neutral-900 */
  background: #F3F4F6FF;
  /* neutral-200 */
}

.textbox :disabled+.icon,
.textbox :disabled+.icon+.icon {
  fill: #171A1FFF;
  /* neutral-900 */
}



/* hover */
.select input:hover {
  color: #171A1FFF;
  /* neutral-900 */
  background: #F3F4F6FF;
  /* neutral-200 */
}

/* focused */
.select input:focused {
  color: #171A1FFF;
  /* neutral-900 */
  background: #FFFFFFFF;
  /* white */
}

/* disabled */
.select input:disabled {
  color: #171A1FFF;
  /* neutral-900 */
  background: #F3F4F6FF;
  /* neutral-200 */
}

.select :disabled+.icon,
.textbox :disabled+.icon+.icon {
  fill: #171A1FFF;
  /* neutral-900 */
}




.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  border: none;
  background: none;
  cursor: pointer;
}

.close:hover {
  color: black;
  text-decoration: none;
}




/*NOTIFICATION AND OTHER STUFF*/

/* Notification container */
.notification {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1001;
  /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Center the notification */
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  /* Set the width of the notification */

  border-radius: 8px;
  text-align: center;
}

/* Notification message */
#notificationMessage {
  margin: 0;
  font-size: 14px;
  padding: 5px;
}

/* Close button for notification */
#closeNotification {
  background-color: #4CAF50;
  /* Gray */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

#closeNotification:hover {
  background-color: #45a049;;
}


.Delnotification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Delnotification-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.Delnotification button {
  margin: 5px;
}


/* Close button style */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}



/* Delete Modal Styling */
.deleteModal {
  display: none;
  position: fixed;
  /* Use fixed to keep it centered in the viewport */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Adjust for exact center */
  width: 327px;
  height: 139px;
  background: #FFFFFF;
  /* white */

  z-index: 1000;
  /* Ensure it's on top of other content */
}

/* Modal Content Styling */

/* Close Button Styling */
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Button Styling */
.modal-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  
}

#confirmDeleteBtn {
  background: #005500FF;
  /* Bootstrap danger color */
  color: #fff;
}

#cancelDeleteBtn {
  background: #f44336;
  /* Bootstrap info color */
  color: #fff;
}


/* #example
{
  margin-top: 40px;
} */


.icon-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  position: relative;
}


.icon-upload img {
  width: 100%;
  /* Make the image fit the container */
  height: auto;
  /* Maintain aspect ratio */
  max-height: 100px;
  /* Ensure the image doesn't exceed container height */
}

.icon-upload input[type="file"] {
  display: none;
}

/*End of overlay*/

/***************************************PRODUCT TABLE*****************************/
.table_product {
  margin-left: 30px;
  display: absolute;
  flex-direction: column;
  position: absolute;
  width: 80%;
  left: 281px;
  height: 10%;
  opacity: 1;
  border-radius: 3px;
  border-collapse: collapse;
}

th.col1,
td.col1 {
  width: 7%;
}

th.col2,
td.col2 {
  width: 23%;
}

th.col2pic,
td.col2pic {
  width: 2%;
}

th.col2name,
td.col2name {
  width: 20.27%;
}

th.col3,
td.col3 {
  width: 16%;
}

th.col4,
td.col4 {
  width: 14%;
}

th.col5,
td.col5 {
  width: 15%;
}

th.col6,
td.col6 {
  width: 10%;
}

th.col7,
td.col7 {
  width: 10%;
  text-align: center;
}

th {
  height: 50px;
  text-align: left;

  font-size: 14px;
  font-weight: 600;
  color: #565D6DFF;
}

td {
  height: 50px;

  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #171A1FFF;
}

.highlight-row {
  background-color: #f4f4f4;
}

.selected {
  background-color: #cfe2ff;
}


/*End of style */


/* Style for Edit and Delete buttons */
.edit-btn,
.delete-btn {
  background-color: #005500;
  /* Button color */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
}

.delete-btn {
  background-color: #cc0000;
  /* Delete button color */
}

.edit-btn:hover,
.delete-btn:hover {
  opacity: 0.8;
  /* Button hover effect */
}

/***************************************PRODUCT TABLE*****************************/

.usersTableSize {
  width: 95%;
  margin-left: 17px;
}



.text-center {
  text-align: center;
}

.text-truncate {
  overflow: hidden; /* Hide overflow text */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
  max-width: 150px; /* Adjust as needed for your design */
}

.containerAddArchive {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.archived-users {
  margin-left: auto;
  cursor: pointer;
  height: 36px;
  width: auto; /* Adjusts width to fit text and icon */
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px; /* Slightly smaller font to fit the text */
  font-weight: 400;
  color: #FFFFFF;
  background: #3343ce;
  opacity: 1;
  border: none;
  border-radius: 12px;
  gap: 6px;
  margin-bottom: 10px;
  margin-right: 12px;
  
}

/* Hover */
.archived-users:hover {
  color: #FFFFFFFF;
  background: #222d85;
}

/* Pressed */
.archived-users:active {
  color: #FFFFFFFF;
  background: #111644;
}

.button-container button {
  font-size: 14px;
  height: 30px;
  padding: 0px;
}

/*///////////////ARCHIVE STUFF/////////////////////*/

#unarchiveUserBtn,
#archiveUserBtn {
  width: 250px;
  background-color: #af844c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#unarchiveUserBtn:hover,
#archiveUserBtn:hover {
  background-color: #a07545;
}

/*LOW STOCK MODAL*/


/* Close Button */
/* Close Button */
.closeAlert {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeAlert:hover,
.closeAlert:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Low Stock Message */
.low-stock-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
/* Close Button Container */
.closeAlertContainer {
  display: flex; /* Use flexbox */
  justify-content: flex-end; /* Align to the right */
}