body {
    font-family: 'Catamaran', sans-serif;
  }
  
  .logo {
    position: absolute;
    top: 26px;
    left: 20px;
    width: 36px;
    height: 36px;
    border-radius: 0px;
  }
  
  .main-text {
    position: absolute;
    top: 24px;
    left: 72px;
    width: 164px;
    height: 28px;
    font-family: Catamaran;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #EB1C24FF; /* secondary-500 */
  }
  
  .sub-text {
    position: absolute;
    top: 52px;
    left: 72px;
    width: 164px;
    height: 20px;
    font-family: Catamaran;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #005500FF; /* primary-500 */
  }
  
  .sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 258px;
    height: 315px;
    background: #FFFFFFFF; /* white */
    border-radius: 0px;
    box-shadow: 0px .2px 0px #171a1f;
  }
  
  .sidebar-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 258px;
    height: 475px;
    border-radius: 0px;
    box-shadow: 0px .2px 0px #171a1f;
  }
  
  .sidebar-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 258px;
    height: 585px;
    border-radius: 0px;
    box-shadow: 0px .2px 0px #171a1f;
  }
  
  .sidebar-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 258px;
    height: 1080px;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #171a1f;
  }
  
  .sidebar-menu {
    position: absolute; 
    top: 84px; 
    right: 91px;
    height: 184px; 
    display: flex; 
    flex-direction: column; 
    font-family: Catamaran; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    opacity: 1; 
    background: rgba(255, 255, 255, 0); /* Transparent background */
  }
  
  .sidebar-menu-item .sidebar-icon {
    margin-top: -5px; 
  }
  
  .sidebar-menu-item {
    position: relative; /* Needed for the indicator positioning */
    display: flex;
    align-items: center;
    padding: 16px;
    color: #565D6DFF; /* neutral-600 */
    background: rgba(255, 255, 255, 0); /* Transparent background */
    border-radius: 0px;
    gap: 12px; /* Space between icon and text */
    cursor: pointer;
    white-space: nowrap;
  }
  
  .sidebar-menu-item a {
    display: flex; /* Ensure anchor tag uses flexbox */
    align-items: center; /* Center items vertically */
    text-decoration: none;
    color: inherit;
    gap: 8px; /* Space between icon and text */
  }
  
  .sidebar-menu-item.selected {
    font-weight: 700;
    color: #005500FF; /* primary-500 */
    background: #FFFFFF; /* transparent */
  }
  
  .sidebar-menu-item.selected:hover:active {
    color: #005500FF; /* primary-500 */
    background: #FFFFFF; /* transparent */
  }
  
  .sidebar-menu-item .indicator {
    position: absolute;
    left: 0; /* Position indicator on the leftmost side */
    width: 4px; 
    height: 80%;
    opacity: 0; /* Hide by default */
  }
  
  .sidebar-menu-item.selected .indicator {
    opacity: 1; /* Show only for selected item */
  }
  
  
  .dash-info {
    position: absolute;
    top: 0px;
    left: 259px;
    width: 1164px;
    height: 84px;
    background: #FFFFFFFF; /* white */
    border-radius: 0px;
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
  }
  
  .dash_text {
    position: absolute;
    left: 22px;
    font-family: Catamaran;
    font-size: 25px;
    line-height: 48px;
    font-weight: 700;
    color: #171A1FFF; /* neutral-900 */
  }
  
  .user-name {
    position: absolute;
    top: 27px;
    left: 925px;
    font-family: Catamaran;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #171A1FFF; /* neutral-900 */
  }
  
  .avatar {
    position: absolute;
    top: 15px;
    left: 1090px;
    width: 50px;
    height: 50px;
    background: #86FF86FF; /* primary-200 */
    opacity: 1;
    overflow: hidden;
    border-radius: 32px;
  }
  
  .customers {
    position: absolute;
    top: 106px;
    left: 280px;
    width: 250px;
    height: 200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Catamaran;
    font-size: 100px;
    line-height: 130px;
    font-weight: 400;
    color: #FFFFFFFF; /* white */
    background: #005500FF; /* primary-500 */
    opacity: 1;
    border: none;
    border-radius: 2px; /* border-m */
    gap: 8px;
  }
  
  .customers .icon {
    width: 100px;
    height: 100px;
    fill: #FFFFFFFF; /* white */
  }
  
  .receipt {
    position: absolute;
    top: 106px;
    left: 696px;
    width: 250px;
    height: 200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Catamaran;
    font-size: 100px;
    line-height: 130px;
    font-weight: 400;
    color: #0A4D20FF; /* success-800 */
    background: #1DD75BFF; /* success-500 */
    opacity: 1;
    border: none;
    border-radius: 2px; /* border-m */
    gap: 8px;
  }
  
  .receipt .icon {
    width: 100px;
    height: 100px;
    fill: #0A4D20FF; /* success-800 */
  }
  
  .stocks {
    position: absolute;
    top: 106px;
    left: 1112px;
    width: 250px;
    height: 200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Catamaran;
    font-size: 100px;
    line-height: 130px;
    font-weight: 400;
    color: #5D4108FF; /* warning-800 */
    background: #EFB034FF; /* warning-500 */
    opacity: 1;
    border: none;
    border-radius: 2px; /* border-m */
    gap: 8px;
  }
  
  .stocks .icon {
    width: 100px;
    height: 100px;
    fill: #5D4108FF; /* warning-800 */
  }
  
  .chart-container {
    position: absolute;
    top: 325px;
    left: 280px;
    width: 1132px;
    height: 518px;
    background: #FFFFFFFF; /* white */
    border-radius: 2px; /* border-m */
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
  }
  
  .dropdown {
    position: absolute; 
    top: 14px; 
    left: 14px; 
    opacity: 1; 
  }
  .dropdown input {
    width: 192px; 
    height: 36px; 
    padding-left: 12px; 
    padding-right: 34px; 
    font-family: Catamaran; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #171A1FFF; /* neutral-900 */
    background: #FFFFFFFF; /* white */
    border-radius: 2px; /* border-m */
    border-width: 1px; 
    border-color: #BDC1CAFF; /* neutral-400 */
    outline: none; 
  }
  
  .rate-container {
    position: absolute; 
    top: 74px; 
    left: 315px; 
    width: 239px; 
    height: 60px; 
    background: #EBFFEBFF; /* primary-100 */
    border-radius: 2px; /* border-m */
    box-shadow: 0px 6px 13px #ebffeb, 0px 0px 2px #ebffeb; /* shadow-l */
  }
  
  .peso-text {
    position: absolute; 
    top: 16px; 
    left: 32px; 
    font-family: Catamaran; /* Body */
    font-size: 20px; 
    line-height: 30px; 
    font-weight: 600; 
    color: #005500FF; /* primary-500 */
  }
  
  .rate-text {
    position: absolute; 
    top: 16px; 
    left: 48px; 
    font-family: Catamaran; /* Body */
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 700; 
    color: #171A1FFF; /* neutral-900 */
  }
  
  .tag {
    position: absolute; 
    top: 16px; 
    left: 181px; 
    width: 47px; 
    height: 28px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-family: Catamaran; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    opacity: 1; 
  }
  
  .perc-container {
    position: absolute; 
    top: 74px; 
    left: 578px; 
    width: 239px; 
    height: 60px; 
    background: #EEFDF3FF; /* success-100 */
    border-radius: 2px; /* border-m */
    box-shadow: 0px 6px 13px #eefdf3, 0px 0px 2px #eefdf3; /* shadow-l */
  }
  
  .perc-container .icon {
    position: absolute; 
    top: 18px; 
    left: 16px; 
    width: 24px; 
    height: 24px; 
    fill: #0E642AFF; /* success-750 */
  }
  
  .perc-text {
    position: absolute; 
    top: 16px; 
    left: 48px; 
    font-family: Catamaran; /* Body */
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 700; 
    color: #171A1FFF; /* neutral-900 */
  }
  
  .tag {
    position: absolute; 
    top: 16px; 
    left: 146px; 
    width: 79px; 
    height: 28px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-family: Catamaran; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    opacity: 1; 
  }
  
  .text-1 {
    position: absolute; 
    top: 474px; 
    left: 24px; 
    font-family: Catamaran; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    color: #6F7787FF; /* neutral-550 */
  }
  
  .text-2 {
    position: absolute; 
    top: 474px; 
    left: 191px; 
    font-family: Catamaran; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    color: #6F7787FF; /* neutral-550 */
  }
  
  .text-3 {
    position: absolute; 
    top: 474px; 
    left: 360px; 
    font-family: Catamaran; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    color: #6F7787FF; /* neutral-550 */
  }
  
  .text-4 {
    position: absolute; 
    top: 474px; 
    left: 543px; 
    font-family: Catamaran; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    color: #6F7787FF; /* neutral-550 */
  }
  
  .text-5 {
    position: absolute; 
    top: 474px; 
    left: 722px; 
    font-family: Catamaran; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    color: #6F7787FF; /* neutral-550 */
  }
  
  .text-6 {
    position: absolute; 
    top: 474px; 
    left: 901px; 
    font-family: Catamaran; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    color: #6F7787FF; /* neutral-550 */
  }
  
  .text-7 {
    position: absolute; 
    top: 474px; 
    left: 1038px; 
    font-family: Catamaran; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 700; 
    color: #005500FF; /* primary-500 */
  }