body {
    font-family: 'Catamaran', sans-serif;
  }
  
  .logo {
    position: absolute;
    top: 26px;
    left: 20px;
    width: 36px;
    height: 36px;
    border-radius: 0px;
  }
  
  .main-text {
    position: absolute;
    top: 24px;
    left: 72px;
    width: 164px;
    height: 28px;
    font-family: Catamaran;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #EB1C24FF; /* secondary-500 */
  }
  
  .sub-text {
    position: absolute;
    top: 52px;
    left: 72px;
    width: 164px;
    height: 20px;
    font-family: Catamaran;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #005500FF; /* primary-500 */
  }
  
  .sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 258px;
    height: 315px;
    background: #FFFFFFFF; /* white */
    border-radius: 0px;
    box-shadow: 0px .2px 0px #171a1f;
  }
  
  .sidebar-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 258px;
    height: 475px;
    border-radius: 0px;
    box-shadow: 0px .2px 0px #171a1f;
  }
  
  .sidebar-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 258px;
    height: 585px;
    border-radius: 0px;
    box-shadow: 0px .2px 0px #171a1f;
  }
  
  .sidebar-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 258px;
    height: 1080px;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #171a1f;
  }
  
  .sidebar-menu {
    position: absolute; 
    top: 84px; 
    right: 91px;
    height: 184px; 
    display: flex; 
    flex-direction: column; 
    font-family: Catamaran; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    opacity: 1; 
    background: rgba(255, 255, 255, 0); /* Transparent background */
  }
  
  .sidebar-menu-item .sidebar-icon {
    margin-top: -5px; 
  }
  
  .sidebar-menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px;
    color: #565D6DFF; /* neutral-600 */
    background: rgba(255, 255, 255, 0); /* Transparent background */
    border-radius: 0px;
    gap: 12px; /* Space between icon and text */
    cursor: pointer;
    white-space: nowrap;
  }
  
  .sidebar-menu-item a {
    display: flex; /* Ensure anchor tag uses flexbox */
    align-items: center; /* Center items vertically */
    text-decoration: none;
    color: inherit;
    gap: 8px; /* Space between icon and text */
  }
  
  .sidebar-menu-item.selected {
    font-weight: 700;
    color: #005500FF; /* primary-500 */
    background: #FFFFFF; /* transparent */
  }
  
  .sidebar-menu-item.selected:hover:active {
    color: #005500FF; /* primary-500 */
    background: #FFFFFF; /* transparent */
  }
  
  .sidebar-menu-item .indicator {
    position: absolute;
    left: 0; /* Position indicator on the leftmost side */
    width: 4px; 
    height: 80%;
    opacity: 0; /* Hide by default */
  }
  
  .sidebar-menu-item.selected .indicator {
    opacity: 1; /* Show only for selected item */
  }
  
  
  .dash-info {
    position: absolute;
    top: 0px;
    left: 259px;
    width: 1164px;
    height: 84px;
    background: #FFFFFFFF; /* white */
    border-radius: 0px;
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; /* shadow-xs */
  }
  
  .dash_text {
    position: absolute;
    left: 22px;
    font-family: Catamaran;
    font-size: 25px;
    line-height: 48px;
    font-weight: 700;
    color: #171A1FFF; /* neutral-900 */
  }
  
  .user-name {
    position: absolute;
    top: 27px;
    left: 925px;
    font-family: Catamaran;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #171A1FFF; /* neutral-900 */
  }
  
  .avatar {
    position: absolute;
    top: 15px;
    left: 1090px;
    width: 50px;
    height: 50px;
    background: #86FF86FF; /* primary-200 */
    opacity: 1;
    overflow: hidden;
    border-radius: 32px;
  }

/* Container Styles */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
.table {
  margin-top: 2%;
  width: 100%;
  border-collapse: collapse;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #d1d1d1;
  color: rgb(0, 0, 0);
}

/* Button Styles */
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: #08750d;
  color: white;
}

.btn-primary:hover {
  background-color: #079129;
}

.btn-secondary[type="reset"] {
  float: right;
  background-color: #b10000;
  color: white;
}

.btn-secondary:hover[type="reset"] {
  background-color: #cf0808;
}

.btn-secondary[type="button"] {
  float: right;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.btn-secondary:hover[type="button"] {
  background-color: #ffffff;
}

/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: none;
  /* Hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 1000; /* High z-index value to ensure it's on top */
}

.overlay-content {
  background-color: #fff;
  color: #000000;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  position: relative;
}

/* Form Styles */
.form-group {
  margin-bottom: 15px; 
}

label {
  display: block; 
  margin-bottom: 5px; 
}

input[type="text"],
input[type="email"] {
  width: calc(100% - 20px); /* Adjust for padding */
  padding: 10px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #007bff; 
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
      padding: 10px; 
      margin-top: 20px; 
      margin-bottom: 20px; 
      border-radius: 5px; 
      box-shadow: none; /* Remove shadow on small screens */
  }

  .overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    position: relative;/
 }
}
